* {
    box-sizing: border-box;
}

.search_bar{
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
    width: 700px;
}
.search_bar > * {
    position: relative;
    z-index: 5;
}
input {
    background-color: white;
    color: black;
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: left;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .search_bar{
        width: 500px;
    }
}
@media screen and (max-width: 568px) {
    .search_bar{
        width: 320px;
    }
}